<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><?php echo $title ?></title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="public/js/lib/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" src="public/js/lib/jquery.easing.min.js"></script>
	<script type="text/javascript" src="public/js/lib/supersized.3.2.7.min.js"></script>
	
</head>
<body>
  	<header>
    	<nav>
			<a href="">In Tha Brain</a>
			<a href="<?php echo F3::get('baseUrl'); ?>/logout">Logout</a>
    	</nav>

	</header>
	<section>
		<form id="itbSearch" action="" method="post">
			<label>Search</label>
			<input type="search" name="baseWord" />
			<input type="submit" value="Search" /> 
			</form>
		<fieldset>
			<h1>Ici mon dashboard</h1>
			<?php
			if (F3::exists('synonyms')) {
				echo "
				<fieldset>
					<h1>Résultat de la recherche</h1>
					<h2>Synonyms</h2>
					";
				var_dump(F3::get('synonyms'));
				if(F3::exists('dribbble')){ echo "<h2>Dribbble</h2>"; var_dump(F3::get('dribbble'));}
				if(F3::exists('pinterest')){ echo "<h2>Pinterest</h2>"; var_dump(F3::get('pinterest'));}
				if(F3::exists('news')){ echo "<h2>News</h2>"; var_dump(F3::get('news'));}
				echo"
				</fieldset>";
			}
			?>
		</fieldset>
		<fieldset>
			<h1>Zboubification</h1>
			<a href="create">Créer un nouveau brainstorming</a>
		</fieldset>
	</section>
	<script type="text/javascript">
			$("#itbSearch").submit(function(event){

				ajaxGenerator($(this), 'synonyms');
				ajaxGenerator($(this), 'pinterest');
				ajaxGenerator($(this), 'dribbble');
				ajaxGenerator($(this), 'news');

				function ajaxGenerator(form, api){
					console.log('search on '+api);
					var url = "search/"+api;
					var postdata = form.serialize();                

					var request = $.post(
						url,
						postdata,
						formpostcompleted,
						"json"            
					);

					function formpostcompleted(data, status){
						console.log(data);
						console.log(status);
					}
				}
				return false;
       		});
		</script>
</body>
</html>